@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* overall */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #313131;
  background:rgba(245,248,250,1);
  /*background: linear-gradient(to right, #01B3C9, #00BDB2 85%, #00C6A1);*/
}

.container-content {
  padding-top: 20px;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-variant: small-caps;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 0px;
}

/* errors */
.has-error {
  color: red;
  font-size: 12px;
}

.container {
  overflow: hidden;
}

/* map */
.map-info {
  background-color: #FFFFFF;
  width: 35%;
  height:100vh;
  display: 'inline-block';
  float: left;
}

/* avatar */
.avatar {
  width:50px;
	height:50px;
	border-radius: 50%;
}

.avatar-field {
  padding-top: 10px;
}

.avatar-input {
  padding-left: 10px;
}

/* signup/signin forms */
.form-group {
  margin: 0;
}
