@import url('https://fonts.googleapis.com/css?family=Lato');

/* overall */
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  color: #313131;
  background: #EDEDED;
  /*background: linear-gradient(to right, #01B3C9, #00BDB2 85%, #00C6A1);*/
}

a {
  color: #A4A7B4;
}

.container-content {
  padding-top: 20px;
  margin: 0 auto;
  width: 90%;
}

h1 {
  font-variant: small-caps;
  font-size: 56px;
  font-weight: 400;
  margin-bottom: 0px;
}

h2 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.field-margin {
  margin-top: 14px;
}

.hidden {
  display: none !important;
}

/* errors */
.has-error {
  color: red;
  font-size: 12px;
}

.container {
  overflow: hidden;
}

/* appbar */
.inline-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start; 
  list-style: none;
  padding: 0;
  white-space: nowrap;
  margin: 0px;
}

li {
  padding: 8px 15px 8px 15px;
  margin-top: 15px;
}

li a {
  text-decoration: none;
  color: #244B65;
  font-size: 14px;
}

.appname-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 28px;
  font-weight: 100;
}

.profile-nav {
  margin: 16px 0 0 6px;
}

/* map */
.map-info {
  background-color: #FFFFFF;
  width: 35%;
  height:100vh;
  display: 'inline-block';
  float: left;
  overflow: auto;
}

/* avatar */
.avatar-field {
  padding-top: 10px;
  padding-bottom: 20px;
}

.avatar-input {
  padding-left: 10px;
}

/* signup/signin forms */
.form-group {
  margin: 0;
}

.password-signin {
  margin-top: 20px;
}

/* drawer */
.nav-container {
  text-align: center;
}

.links-title {
  clear: both;
  text-align: left;
  margin: 20px 0 10px 15px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.drawer-links a {
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  padding-left: 20px;
}

.drawer-title {
  margin: 20px 0 10px 15px;
  font-size: 20px;
}

.drawer-displayname {
  margin-top: -20px;
}

.profile-image {
  width: 100px;
}

.menu-items {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.loggedout {
  margin-top: 20px;
}

/* manage account */
.manage-alert {
  color: #5C5C5C;
  border-radius: 10px;
  padding: 15px;
  margin: 0 0 15px 0;
}

.manage-alert p {
  margin: 0;
  text-align: center;
}

.red-discard {
  background-color: #ffb3b3;
  border: 1px solid #ff1a1a;
}

.green-confirm {
  background-color: #c2f0c2;
  border: 1px solid #33cc33;
}

/* #### Mobile Phones Portrait or Landscape #### */
@media screen and (max-width: 640px){
  /* some CSS here */
  .drawerWidth {
    width: 640px;
  }
}

/* Other Devices */
@media screen and (min-width: 641px){
  .drawerWidth {
    width: 280px;
  }
}